* {
    margin: 0;
    padding: 0;
}

.header_top {
    height: 75px;
    background: #222222;
}

.container {
    width: 1600px;
}

.header_top {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_left {
    display: flex;
    padding-left: 231px;
}

li {
    padding-right: 41px;
}

.header_right {
    display: flex;
    padding-right: 240px;

}

.header_main {
    display: flex;
    align-items: center;
    background-color: #F1E4E6;
}

.header_text {
    font-family: Lato;
    font-size: 48px;
    line-height: 58px;
    display: flex;
}

.stripe {
    width: 12px;
    height: 92px;
    background-color: #F16D7F;
    margin-right: 16px;
}

.header_text_second {
    font-size: 37px;
    line-height: 38.4px;
}

span {
    color: #F16D7F;
    font-size: 24px;
}

span:nth-child(1) {
    font-size: 37px;
    line-height: 38.4px;
}

.offer_people {
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 65px;
    font-size: 18px;
}

.offer_women {
    width: 360px;
    height: 260px;
    background-image: url(img/women.png);
    background-color: rgba(33, 22, 22, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.offer_men {
    width: 360px;
    height: 260px;
    background-image: url(img/men.png);
    background-color: rgba(33, 22, 22, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.offer_children {
    width: 360px;
    height: 260px;
    background-image: url(img/children.png);
    background-color: rgba(33, 22, 22, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offer_acs {
    width: 1140px;
    height: 180px;
    background-image: url(img/acs.png);
    background-color: rgba(33, 22, 22, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}